# What We Can Do

We can get 4 year of financial data cleanly outputted

Link: https://towardsdatascience.com/web-scraping-for-accounting-analysis-using-python-part-1-b5fc016a1c9a


Goal is to be able to quickly analyze data to narrowdown investment opportunities

In [269]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request as ur

In [270]:
# Enter a stock symbol
index= "L"
# URL link 
url_is = "https://finance.yahoo.com/quote/" + index + "/financials?p=" + index
url_bs = "https://finance.yahoo.com/quote/" + index +"/balance-sheet?p=" + index
url_cf = "https://finance.yahoo.com/quote/" + index + "/cash-flow?p="+ index

In [271]:
read_data = ur.urlopen(url_is).read() 
soup_is= BeautifulSoup(read_data,"lxml")

In [272]:
ls= [] # Create empty list
for l in soup_is.find_all("div"): 
  #Find all data structure that is ‘div’
  ls.append(l.string) # add each element one by one to the list
 
ls = [e for e in ls if e not in ("Operating Expenses","Non-recurring Events")] # Exclude those columns

In [273]:
new_ls = list(filter(None,ls))

In [274]:
new_ls = new_ls[12:]

In [275]:
is_data = list(zip(*[iter(new_ls)]*6))

In [276]:
Income_st = pd.DataFrame(is_data[0:])

In [277]:
Income_st.columns = Income_st.iloc[0] # Name columns to first row of dataframe
Income_st = Income_st.iloc[1:,] # start to read 1st row
Income_st = Income_st.T # transpose dataframe
Income_st.columns = Income_st.iloc[0] #Name columns to first row of dataframe
Income_st.drop(Income_st.index[0],inplace=True) #Drop first index row
Income_st.index.name = "" # Remove the index name
Income_st.rename(index={"ttm": "12/31/2019"},inplace=True) #Rename ttm in index columns to end of the year
Income_st = Income_st[Income_st.columns[:-5]] # remove last 5 irrelevant columns

In [278]:
Income_st

Annual,Total Revenue,Cost of Revenue,Gross Profit,Selling General and Administrative,Total Operating Expenses,Operating Income or Loss,Income Before Tax,Income Tax Expense,Income from Continuing Operations,Net Income,Net Income available to common shareholders
,,,,,,,,,,,
12/31/2019,"1,312,151","790,768","521,383","412,217","527,666","-6,283","-26,776","-8,210","-18,566","-18,566","-18,566"
12/30/2019,"1,312,151","790,768","521,383","412,217","527,666","-6,283","-26,776","-8,210","-18,566","-18,566","-18,566"
12/30/2018,"1,007,257","536,599","470,658","299,755","385,695","84,963","81,433","2,952","78,481","78,481","78,481"
12/30/2017,"683,067","325,716","357,351","215,753","267,601","89,750","89,648","-9,335","98,983","98,983","98,983"
12/30/2016,"493,331","214,210","279,121","160,076","195,269","83,852","83,852","34,295","49,557","49,557","49,557"

In [279]:
finalIS = Income_st[1:5]

In [280]:
finalIS

Annual,Total Revenue,Cost of Revenue,Gross Profit,Selling General and Administrative,Total Operating Expenses,Operating Income or Loss,Income Before Tax,Income Tax Expense,Income from Continuing Operations,Net Income,Net Income available to common shareholders
,,,,,,,,,,,
12/30/2019,"1,312,151","790,768","521,383","412,217","527,666","-6,283","-26,776","-8,210","-18,566","-18,566","-18,566"
12/30/2018,"1,007,257","536,599","470,658","299,755","385,695","84,963","81,433","2,952","78,481","78,481","78,481"
12/30/2017,"683,067","325,716","357,351","215,753","267,601","89,750","89,648","-9,335","98,983","98,983","98,983"
12/30/2016,"493,331","214,210","279,121","160,076","195,269","83,852","83,852","34,295","49,557","49,557","49,557"

## Financial Statement Analysis
Income Statement: Look for increasing operating income, % of revenue increase

Statement of Cash Flow: We need to be able to automatically change into the summary analysis and make judgments

Balance Sheet: Just look at key accounts, and calculate that ratio you did in Grubhub Project (Z-ratio)

In [281]:
isAnalysis = finalIS

In [282]:
# Use iloc in this particular analysis, or loc if you can for the specific names

isAnalysis.iloc[0:3, 0:4]

Annual,Total Revenue,Cost of Revenue,Gross Profit,Selling General and Administrative
,,,,
12/30/2019,"1,312,151","790,768","521,383","412,217"
12/30/2018,"1,007,257","536,599","470,658","299,755"
12/30/2017,"683,067","325,716","357,351","215,753"