# What We Can Do

We can get 4 year of financial data cleanly outputted

Link: https://towardsdatascience.com/web-scraping-for-accounting-analysis-using-python-part-1-b5fc016a1c9a


Goal is to be able to quickly analyze data to narrowdown investment opportunities

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request as ur

In [2]:
# Enter a stock symbol
index= "FB"
# URL link 
url_is = "https://finance.yahoo.com/quote/" + index + "/financials?p=" + index
url_bs = "https://finance.yahoo.com/quote/" + index +"/balance-sheet?p=" + index
url_cf = "https://finance.yahoo.com/quote/" + index + "/cash-flow?p="+ index

In [3]:
read_data = ur.urlopen(url_is).read() 
read_data_bs = ur.urlopen(url_bs).read() 
soup_is= BeautifulSoup(read_data,"lxml")

In [4]:
ls= [] # Create empty list
for l in soup_is.find_all("div"): 
  #Find all data structure that is ‘div’
  ls.append(l.string) # add each element one by one to the list
 
ls = [e for e in ls if e not in ("Operating Expenses","Non-recurring Events")] # Exclude those columns

In [5]:
new_ls = list(filter(None,ls))

In [6]:
new_ls = new_ls[12:]

In [7]:
is_data = list(zip(*[iter(new_ls)]*6))

In [8]:
Income_st = pd.DataFrame(is_data[0:])

In [9]:
Income_st.columns = Income_st.iloc[0] # Name columns to first row of dataframe
Income_st = Income_st.iloc[1:,] # start to read 1st row
Income_st = Income_st.T # transpose dataframe
Income_st.columns = Income_st.iloc[0] #Name columns to first row of dataframe
Income_st.drop(Income_st.index[0],inplace=True) #Drop first index row
Income_st.index.name = "" # Remove the index name
Income_st.rename(index={"ttm": "12/31/2019"},inplace=True) #Rename ttm in index columns to end of the year
Income_st = Income_st[Income_st.columns[:-5]] # remove last 5 irrelevant columns

In [10]:
Income_st

Quarterly,Total Revenue,Cost of Revenue,Gross Profit,Research Development,Selling General and Administrative,Total Operating Expenses,Operating Income or Loss,Interest Expense,Total Other Income/Expenses Net,Income Before Tax,Income Tax Expense,Income from Continuing Operations,Net Income,Net Income available to common shareholders
,,,,,,,,,,,,,,
12/31/2019,"73,357,000","13,413,000","59,944,000","14,755,000","18,627,000","33,382,000","26,562,000",-,-,"27,191,000","6,233,000","20,958,000","20,958,000","20,958,000"
12/31/2019,"70,697,000","12,770,000","57,927,000","13,600,000","20,341,000","33,941,000","23,986,000","20,000","-78,000","24,812,000","6,327,000","18,485,000","18,485,000","18,485,000"
12/31/2018,"55,838,000","9,355,000","46,483,000","10,273,000","11,297,000","21,570,000","24,913,000","9,000","-204,000","25,361,000","3,249,000","22,112,000","22,112,000","22,111,000"
12/31/2017,"40,653,000","5,454,000","35,199,000","7,754,000","7,242,000","14,996,000","20,203,000","6,000","-1,000","20,594,000","4,660,000","15,934,000","15,934,000","15,920,000"
12/31/2016,"27,638,000","3,789,000","23,849,000","5,919,000","5,503,000","11,422,000","12,427,000","10,000","-75,000","12,518,000","2,301,000","10,217,000","10,217,000","10,188,000"

In [11]:
finalIS = Income_st[1:5]

In [12]:
finalIS

Quarterly,Total Revenue,Cost of Revenue,Gross Profit,Research Development,Selling General and Administrative,Total Operating Expenses,Operating Income or Loss,Interest Expense,Total Other Income/Expenses Net,Income Before Tax,Income Tax Expense,Income from Continuing Operations,Net Income,Net Income available to common shareholders
,,,,,,,,,,,,,,
12/31/2019,"70,697,000","12,770,000","57,927,000","13,600,000","20,341,000","33,941,000","23,986,000","20,000","-78,000","24,812,000","6,327,000","18,485,000","18,485,000","18,485,000"
12/31/2018,"55,838,000","9,355,000","46,483,000","10,273,000","11,297,000","21,570,000","24,913,000","9,000","-204,000","25,361,000","3,249,000","22,112,000","22,112,000","22,111,000"
12/31/2017,"40,653,000","5,454,000","35,199,000","7,754,000","7,242,000","14,996,000","20,203,000","6,000","-1,000","20,594,000","4,660,000","15,934,000","15,934,000","15,920,000"
12/31/2016,"27,638,000","3,789,000","23,849,000","5,919,000","5,503,000","11,422,000","12,427,000","10,000","-75,000","12,518,000","2,301,000","10,217,000","10,217,000","10,188,000"

## Financial Statement Analysis
Income Statement: Look for increasing operating income, % of revenue increase

Statement of Cash Flow: We need to be able to automatically change into the summary analysis and make judgments

Balance Sheet: Just look at key accounts, and calculate that ratio you did in Grubhub Project (Z-ratio)

In [13]:
isAnalysis = finalIS

In [14]:
# Use iloc in this particular analysis, or loc if you can for the specific names

isAnalysis.iloc[0:3, 0:4]

Quarterly  Total Revenue Cost of Revenue Gross Profit Research Development

12/31/2019    70,697,000      12,770,000   57,927,000           13,600,000
12/31/2018    55,838,000       9,355,000   46,483,000           10,273,000
12/31/2017    40,653,000       5,454,000   35,199,000            7,754,000